{#def file_name #}
{#css styles/sanitize.min.css #}

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ _('Simple Resume - Preview') }}</title>
		{{ catalog.render_assets() }}
	</head>
	<body data-file-name="{{ file_name }}">
		{{ content }}
	</body>
</html>
