{#def file_name, resume #}
{#css
	styles/open-color.css,
	radix-colors.css,
	styles/reasonable-colors.css,
	styles/sanitize.min.css,
#}

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ _('Simple Resume - Preview') }}</title>
		{{ catalog.render_assets() }}
	</head>
	<body data-file-name="{{ file_name }}">
		{{ content }}
		<script id="simple-resume-metadata" type="application/json">{{
			resume.meta.simple_resume.model_dump_json(by_alias=True)
		}}</script>
	</body>
</html>
