{#def name, position, city, region, country_code, email, phone, profiles #}

<section class="contact-information">
	<h1 class="contact-information__title">
		<span class="contact-information__name">{{ name }}</span>
		<span class="contact-information__position">{{ position }}</span>
	</h1>

	<address>
		<ul class="list-unstyled">
			<li class="contact-information-item">
				<BootstrapIcon icon_id="geo-alt-fill" :accessible_name="_('Location:')" />
				<span class="contact-information-item__description"
					>{{ city }}, {{ region }}, {{ country_code | countryname }}</span
				>
			</li>

			<li class="contact-information-item">
				<BootstrapIcon icon_id="envelope-fill" :accessible_name="_('Email:')" />
				{{ email | urlize }}
			</li>

			<li class="contact-information-item">
				<BootstrapIcon icon_id="telephone-fill" :accessible_name="_('Phone number:')" />
				<a href="{{ phone }}">{{ phone | replace("tel:", "") }}</a>
			</li>

			{% for profile in profiles %}
				<Profile
					:network="profile.network"
					:username="profile.username"
					:url="profile.url"
				/>
			{% endfor %}
		</ul>
	</address>
</section>
