{#def educationHistory=[] #}

<SectionTitle :title="_('Education')" />

<ul class="education-history">
	{% for educationHistoryEntry in educationHistory %}
		<li class="education-history-entry">
			<SectionItem
				:title="educationHistoryEntry.area"
				:subtitle="educationHistoryEntry.institution"
				:startDate="educationHistoryEntry.startDate"
				:endDate="educationHistoryEntry.endDate"
			/>
		</li>
	{% endfor %}
</ul>
