{#def education_history #}

{% if education_history %}
	<Section :section_title="_('Education')">
		<ul class="list-unstyled">
			{% for entry in education_history %}
				<SectionItem
					:title="entry.area"
					:subtitle="entry.institution"
					:subtitle_url="entry.url"
					:start_date="entry.start_date"
					:end_date="entry.end_date"
					:summary="entry.summary"
					:keywords="entry.courses"
				/>
			{% endfor %}
		</ul>
	</Section>
{% endif %}
