{% from 'components/contact-information/contact-information.jinja' import contactInformation with context %}
{% from 'components/education/education.jinja' import education as educationHistory %}
{% from 'components/knowledge/knowledge.jinja' import knowledge %}
{% from 'components/work-experience/work-experience.jinja' import workExperience %}

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ basics.name }}</title>
		<!-- prettier-ignore-start -->
		<style>
			{% include 'styles.css' %}
			{% include 'components/contact-information/contact-information.css' %}
			{% include 'components/education/education.css' %}
			{% include 'components/icons/icons.css' %}
			{% include 'components/knowledge/knowledge.css' %}
			{% include 'components/section-item/section-item.css' %}
			{% include 'components/section-title/section-title.css' %}
			{% include 'components/work-experience/work-experience.css' %}
		</style>
		<!-- prettier-ignore-end -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css"
			rel="stylesheet"
		/>
	</head>
	<body class="resume">
		<header class="resume__header">
			{{
				contactInformation(basics.name,
				basics.label,
				basics.location.city,
				basics.location.region,
				basics.location.countryCode,
				basics.email,
				basics.phone,
				basics.profiles)
			}}
		</header>
		<article class="resume__body">
			<section class="resume__section">{{ knowledge(skills) }}</section>
			<section class="resume__section">{{ workExperience(work) }}</section>
			<section class="resume__section">{{ educationHistory(education) }}</section>
		</article>
	</body>
</html>
