{#def icon_accessible_name, icon_id, link_url, link_text = None #}

<li class="contact-information-item">
	<BootstrapIcon :accessible_name="icon_accessible_name" :icon_id="icon_id" />
	<ExternalLink :text="link_text" :url="link_url" />
</li>
