{#def icon_accessible_name, icon_id, text #}

<li class="contact-information-item">
	<BootstrapIcon :accessible_name="icon_accessible_name" :icon_id="icon_id" />
	<span class="contact-information-item__description">{{ text }}</span>
</li>
