.reference {
	background: var(--color-primary-light);
	border-left: 8px solid var(--reference-border-color);
	break-inside: avoid;
	padding: 8px 16px 8px 32px;
}

.reference:not(:last-child) {
	margin-bottom: 0.5rem;
}

.reference__blockquote {
	margin: 0;
}

.reference__blockquote + .reference__name {
	margin-top: 8px;
}

.reference__reference {
	font-style: italic;
	margin: 0;
}

.reference__name {
	font-weight: 500;
}
