{#def name = None, reference = None #}

{% if name or reference %}
	<li class="reference">
		<article>
			{% if reference %}
				<blockquote class="reference__blockquote">
					<p class="reference__reference">{{ reference }}</p>
				</blockquote>
			{% endif %}

			{% if name %}
				<p class="reference__name">{{ name }}</p>
			{% endif %}
		</article>
	</li>
{% endif %}
