:root {
	--color-primary: var(--indigo-12);
	--color-primary-light: var(--indigo-3);
	--color-background: var(--gray-1);

	--link-padding: 0 6px;
}

a {
	color: inherit;
	padding: var(--link-padding);
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 500;
	line-height: 1.15;
}

h1 {
	font-size: 1.8rem !important;
}

h2 {
	font-size: 1.6rem !important;
}

h3 {
	font-size: 1.42rem !important;
}

h4 {
	font-size: 1.27rem !important;
}

h5 {
	font-size: 1.13rem !important;
}

.resume {
	background-color: var(--color-background);
	color: var(--color-primary);
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
}

.resume__body {
	padding: 16px 24px;
}

@media print {
	@page {
		background-color: var(--color-background);
		margin: 1rem 0 1rem;
	}

	@page :first {
		margin: 0 0 1rem;
	}
}
