{#def file_name, resume #}
{#css
	fonts/roboto/latin-300.css,
	fonts/roboto/latin-400.css,
	fonts/roboto/latin-400-italic.css,
	fonts/roboto/latin-500.css,
#}

<Layout :file_name="file_name" :resume="resume">
	<main class="resume">
		<Header :basics="resume.basics" />
		<article class="resume__body">
			{% set sections_config = resume.meta.simple_resume.template.sections | mapsections(resume, ["Interests", "Languages"]) %}
			{% for component, props in sections_config %}
				{{ catalog.irender(component, **props) }}
			{% endfor %}
		</article>
	</main>
</Layout>
