{#def file_name, resume #}
{#css
	fonts/roboto/latin-300.css,
	fonts/roboto/latin-400.css,
	fonts/roboto/latin-400-italic.css,
	fonts/roboto/latin-500.css,
	styles/radix-colors/gray.css,
	styles/radix-colors/indigo.css
#}

<Layout :file_name="file_name">
	<main class="resume">
		<Header :basics="resume.basics" />
		<article class="resume__body">
			<Skills :skills="resume.skills" />
			<WorkExperience :work_experience="resume.work" />
			<EducationHistory :education_history="resume.education" />
			<Projects :projects="resume.projects" />
			<Publications :publications="resume.publications" />
			<Awards :awards="resume.awards" />
			<Certificates :certificates="resume.certificates" />
			<Volunteer :volunteer="resume.volunteer" />
			<References :references="resume.references" />
		</article>
	</main>
</Layout>
