{#def basics, skills, work, education #}
{#css
	fonts/roboto/latin-300.css,
	fonts/roboto/latin-400.css,
	fonts/roboto/latin-500.css,
	styles/bootstrap-icons.css,
	styles/radix-colors/gray.css,
	styles/radix-colors/indigo.css
#}

<Layout title="{{ basics.name }}">
	<main class="resume">
		<header class="resume__header">
			<ContactInformation
				name="{{ basics.name }}"
				position="{{ basics.label }}"
				city="{{ basics.location.city }}"
				region="{{ basics.location.region }}"
				countryCode="{{ basics.location.countryCode }}"
				email="{{ basics.email }}"
				phone="{{ basics.phone }}"
				profiles="{{ basics.profiles }}"
			/>
		</header>
		<article class="resume__body">
			<section class="resume__section"><Knowledge skillsGroups="{{ skills }}" /></section>
			<section class="resume__section"><WorkExperience experiences="{{ work }}" /></section>
			<section class="resume__section">
				<Education educationHistory="{{ education }}" />
			</section>
		</article>
	</main>
</Layout>
