.section-item:not(:last-child) {
	margin-bottom: 0.5rem;
}

.section-item__header {
	break-inside: avoid;
	font-size: 0;
	margin: 0 0 0.5rem;
	text-align: justify;

	&::before {
		content: "";
		display: inline-block;
	}

	&::after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}

.section-item__header:not(:last-child) {
	break-after: avoid-page;
}

.section-item__highlight {
	break-inside: avoid;
}

.section-item__subtitle-and-location {
	clear: left;
	display: flex;
	flex-flow: row wrap;
	float: left;
	justify-content: space-between;
	width: 100%;
}

.section-item__title,
.section-item__subtitle,
.section-item__date-range,
.section-item__location {
	margin: 0;
	text-align: left;
}

.section-item__subtitle,
.section-item__date-range,
.section-item__location {
	--heading-font-weight: 300;
}

.section-item__title {
	float: left;
}

.section-item__date-range {
	display: inline-block;
}

.section-item__title,
.section-item__subtitle {
	--link-padding: 0 6px 0 0;
}

.section-item__summary {
	margin: 0;
}

.section-item__summary + .section-item__highlights,
.section-item__highlights + .tags {
	margin: 0.25rem 0 0;
}

.section-item__highlights {
	list-style-type: disc;
	padding-left: 32px;
}
