{#def title, subtitle, startDate = None, endDate = None, summary = None, highlights = None #}

<Entry>
	<h3 class="section-item__heading">
		<span>{{ title }}</span>
		<span class="section-item__date-range"
			>{{ "%m-%Y" | daterangeformat(startDate, endDate) }}</span
		>
		<span class="section-item__subtitle">{{ subtitle }}</span>
	</h3>

	{% if summary is string %}<p class="section-item__summary">{{ summary }}</p>{% endif %}

	{% if highlights is sequence %}
		<ul class="section-item__highlights">
			{% for highlight in highlights %}<li>{{ highlight }}</li>{% endfor %}
		</ul>
	{% endif %}
</Entry>
