{#def skills = [] #}

<SectionTitle :title="_('Skills')" />

<ul class="skills">
	{% for skillsGroup in skills %}
		<li class="skills-group">
			<Entry>
				<h3 class="skills-group__name">{{ skillsGroup.name | addcolon }}</h3>

				<Tags :tags="skillsGroup.keywords" />
			</Entry>
		</li>
	{% endfor %}
</ul>
