{#def skills #}

{% if skills %}
	<Section :section_title="_('Skills')">
		<ul class="list-unstyled">
			{% for skills_group in skills %}
				<li class="skills-group">
					<Entry>
						<h3 class="skills-group__name">
							{{ skills_group.name | addlocalizedcolon }}
						</h3>

						<Tags :tags="skills_group.keywords" />
					</Entry>
				</li>
			{% endfor %}
		</ul>
	</Section>
{% endif %}
