{#def volunteer #}

{% if volunteer %}
	<Section :section_title="_('Volunteer')">
		<ul class="list-unstyled">
			{% for entry in volunteer %}
				<SectionItem
					:title="entry.position"
					:subtitle="entry.organization"
					:start_date="entry.start_date"
					:end_date="entry.end_date"
					:summary="entry.summary"
					:highlights="entry.highlights"
				/>
			{% endfor %}
		</ul>
	</Section>
{% endif %}
