{#def workExperience = [] #}

<SectionTitle :title="_('Experience')" />

<ul class="work-experience">
	{% for entry in workExperience %}
		<li class="work-experience__entry">
			<SectionItem
				:title="entry.position"
				:subtitle="entry.name"
				:startDate="entry.startDate | default(None)"
				:endDate="entry.endDate | default(None)"
				:summary="entry.summary"
				:highlights="entry.highlights"
			/>
		</li>
	{% endfor %}
</ul>
