{% from 'components/icons/icons.jinja' import emailIcon, locationIcon, linkedInIcon, telephoneIcon %}

{% macro contactInformation(name, position, city, region, countryCode, email, phone, profiles=[]) %}
	<h1 class="contact-information__title">
		<span class="contact-information__name">{{ name }}</span>
		<span class="contact-information__position">{{ position }}</span>
	</h1>

	<address>
		<ul class="contact-information__address">
			<li class="contact-information-item">
				{{ locationIcon(_('Location:')) }}
				<span class="contact-information-item__description"
					>{{ city }}, {{ region }}, {{ countryCode | countryname }}</span
				>
			</li>
			<li class="contact-information-item">
				{{ emailIcon(_('Email:')) }}
				{{ email | urlize }}
			</li>
			<li class="contact-information-item">
				{{ telephoneIcon(_('Phone number:')) }}
				<a href="{{ phone | telurl }}">{{ phone }}</a>
			</li>
			{% for profile in profiles %}
				{% if profile.url is defined and 'linkedin' in profile.url %}
					<li class="contact-information-item">
						{{ linkedInIcon(_('LinkedIn:')) }}
						<a href="{{ profile.url }}" rel="noopener noreferrer" target="_blank"
							>{{ profile.url }}</a
						>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</address>
{%- endmacro %}
